body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color:pink;
  height: 100vh;
  justify-content: center;
  align-items: center;
  display: flex;
  font-family: Arial, sans-serif;
}
.piano {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 6px;
  padding: 20px;
  background:black;
  border-radius: 10px;
}


.key.white {
  width: 50px;
  height: 180px;
  background: #fff;
  border: 1px solid #aaa;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 10px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.1s;
}

.key.white.active {
  background: #eee;
  transform: translateY(5px);
}


.key.black {
  width: 50px;
  height: 180px;
  background: #484747;
  color: #fff;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 10px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.1s;
}

.key.black.active {
  background: #333;
  transform: translateY(-15px);
}
