body {
  margin: 100px;
  padding: 0;
  box-sizing: border-box;
  background-color:pink;
  font-family: Arial, sans-serif;

  display: flex;
  flex-direction: column;   /* Stack buttons ABOVE piano */
  justify-content: flex-start;  /* Start from top */
  align-items: center;   /* Center horizontally */

  height: 100vh;
}

.piano {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 0;
  padding: 20px;
  background:black;
  border-radius: 10px;
   position: relative;     /* IMPORTANT */
  height: 200px;
}


.key.white {
  position: relative;
  width: 50px;
  height: 180px;
  background: #fff;
  border: 1px solid #aaa;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 10px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.1s;
  z-index: 1;
}

.key.white.active {
  background: #eee;
  transform: translateY(5px);
}


.key.black {
  position: absolute;
  bottom: 82px;
  width: 35px;
  height: 120px;
  background: #333;
  color: #fff;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 10px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.1s;
  z-index: 10;
  margin-left: 35px;
}


.key.black.active {
  background: #333;
  transform: translateY(-5px);
}
/* buttons */
.controls {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 20px;
}

#recordBtn, #stopBtn, #playBtn {
  padding: 10px 25px;
  font-size: 18px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  background: white;
  font-weight: bold;
}

#recordBtn.recording {
  background: red;
  color: white;
  animation: blink 0.8s infinite;
}

@keyframes blink {
  0%, 50% { opacity: 1; }
  51%, 100% { opacity: 0.2; }
}
